*.conf
*.d
*.merlin
src/META.autoinduct-plugin
src/*.cmi
src/*.cml
src/*.d
src/*.cmx
src/*.cmxa
src/*.o
src/*~
src/*.a
src/*.cmxs
src/autoinduction.ml
theories/*.aux
theories/*.vok
theories/*.vos
theories/*.glob
theories/*.vo
Makefile.coq
